name: Runtime-risks
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  Tests:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: test-install
        uses: rajaSahil/gh-action@v0.0.6
        with:
          action: 'install'

      - uses: actions/setup-go@v3
        with:
          go-version: "v1.20"

      - name: Checkout kubearmor repo
        uses: actions/checkout@v3
        with:
          repository: kubearmor/KubeArmor
          ref: main
          path: Kubearmor

      - name: Setup a Kubernetes environment
        run: ./Kubearmor/contribution/k3s/install_k3s.sh

      - name: Configuring and testing the Installation for cluster
        run: |
          kubectl wait --for=condition=Ready nodes --all --timeout=120s
          sudo apt install socat


